{namespace filemanager=Ameos\AmeosFilemanager\ViewHelpers}
<nav aria-label="breadcrumb">
     <ol class="breadcrumb">
        <filemanager:breadcrumb folder="{current_folder}" startFolder="{root_folder.uid}">
            <f:if condition="{item.is_active}">
                <f:then><li class="breadcrumb-item active">{item.title}</li></f:then>
                <f:else><li class="breadcrumb-item"><a href="{item.uri}">{item.title}</a></li></f:else>
            </f:if>
        </filemanager:breadcrumb>
    </ol>
</nav>
<f:render partial="Explorer/Toolbar" arguments="{_all}" />

<f:form action="index" controller="Explorer\Massaction">
    <f:if condition="{display_mode} == 'mosaic'">
        <div class="row">
            <f:if condition="{settings.displayFolders}">
                <f:if condition="{settings.displayParentFolder} && {current_folder.parent} && {current_folder} !== {root_folder}">
                    <f:variable name="folder" value="{current_folder.parent}" />
                    <f:variable name="folderTitle" value=".." />
                    <filemanager:access.canRead folder="{folder}">
                        <f:render partial="Explorer/Folder/Mosaic" arguments="{_all}" />
                    </filemanager:access.canRead>
                    <f:variable name="folderTitle" value="" />
                </f:if>
                <f:for each="{current_folder_children}" as="folder">
                    <filemanager:access.canRead folder="{folder}">
                        <f:render partial="Explorer/Folder/Mosaic" arguments="{_all}" />
                    </filemanager:access.canRead>
                </f:for>
            </f:if>

            <f:for each="{files}" as="file">
                <filemanager:access.canRead file="{file}">
                    <f:render partial="Explorer/File/Mosaic" arguments="{_all}" />
                </filemanager:access.canRead>
            </f:for>
        </div>
    </f:if>
    <f:if condition="{display_mode} == 'list'">
        <table class="table table-striped">
            <f:render partial="Explorer/HeaderTable" arguments="{_all}" />
            <f:if condition="{settings.displayFolders} && {direction} != 'DESC'">
                <f:render section="FoldersList" arguments="{_all}" />
            </f:if>
            <f:for each="{files}" as="file">
                <filemanager:access.canRead file="{file}">
                    <f:render partial="Explorer/File/List" arguments="{_all}" />
                </filemanager:access.canRead>
            </f:for>
            <f:if condition="{settings.displayFolders} && {direction} == 'DESC'">
                <f:render section="FoldersList" arguments="{_all}" />
            </f:if>
        </table>
    </f:if>
<f:render partial="Explorer/MassActions" arguments="{_all}" />
</f:form>


<f:section name="FoldersList">
    <f:if condition="{direction} != 'DESC'">
        <f:render section="ParentFolder" arguments="{_all}" />
    </f:if>
    <f:for each="{current_folder_children}" as="folder">
        <filemanager:access.canRead folder="{folder}">
            <f:render partial="Explorer/Folder/List" arguments="{_all}" />
        </filemanager:access.canRead>
    </f:for>
    <f:if condition="{direction} == 'DESC'">
        <f:render section="ParentFolder" arguments="{_all}" />
    </f:if>
</f:section>

<f:section name="ParentFolder">
    <f:if condition="{settings.displayParentFolder} && {current_folder.parent} && {current_folder} !== {root_folder}">
        <f:variable name="folder" value="{current_folder.parent}" />
        <f:variable name="folderTitle" value=".." />
        <filemanager:access.canRead folder="{folder}">
            <f:render partial="Explorer/Folder/List" arguments="{_all}" />
        </filemanager:access.canRead>
        <f:variable name="folderTitle" value="" />
    </f:if>
</f:section>