{namespace filemanager=Ameos\AmeosFilemanager\ViewHelpers}
<h3><filemanager:breadcrumb folder="{current_folder}" startFolder="{root_folder.uid}" separator=" / " /></h3>
<f:render partial="Explorer/Toolbar" arguments="{_all}" />

<f:form action="index" controller="Explorer\Massaction">
    <f:if condition="{display_mode} == 'mosaic'">
    <div class="row">
        <f:if condition="{settings.displayFolders}">    
        <f:for each="{current_folder.folders}" as="folder">
            <filemanager:canDisplayRow folder="{folder}" settings="{settings}" folderRoot="{settings.startFolder}">
                <f:render partial="Explorer/Folder/Mosaic" arguments="{_all}" />
            </filemanager:canDisplayRow>
        </f:for>
        </f:if>
        
        <f:for each="{files}" as="file">
            <filemanager:canDisplayRow file="{file}" settings="{settings}" folderRoot="{settings.startFolder}">
            <f:render partial="Explorer/File/Mosaic" arguments="{_all}" />
            </filemanager:canDisplayRow>
        </f:for>
    </div>
    </f:if>
    <f:if condition="{display_mode} == 'list'">
    <table class="table table-striped">
        <f:render partial="Explorer/HeaderTable" arguments="{_all}" />

        <f:if condition="{settings.displayFolders}">    
        <f:for each="{current_folder.folders}" as="folder">
            <filemanager:canDisplayRow folder="{folder}" settings="{settings}" folderRoot="{settings.startFolder}">
                <f:render partial="Explorer/Folder/List" arguments="{_all}" />
            </filemanager:canDisplayRow>
        </f:for>
        </f:if>
        
        <f:for each="{files}" as="file">
            <filemanager:canDisplayRow file="{file}" settings="{settings}" folderRoot="{settings.startFolder}">
            <f:render partial="Explorer/File/List" arguments="{_all}" />
            </filemanager:canDisplayRow>
        </f:for>
    </table>
    </f:if>
<f:render partial="Explorer/MassActions" arguments="{_all}" />
</f:form>
