{v:asset.script(path: 'typo3conf/ext/ameos_filemanager/Resources/Public/JavaScript/Explorer.js')}
<f:if condition="{settings.includeDefaultCss}">
    {v:asset.style(path: 'typo3conf/ext/ameos_filemanager/Resources/Public/Css/style.css')}
</f:if>
<f:if condition="{settings.includeFontawesome}">
    {v:asset.style(path: 'typo3conf/ext/ameos_filemanager/Resources/Public/Css/font-awesome/css/font-awesome.min.css')}
</f:if>
<f:if condition="{includeDropzone}">
    {v:asset.style(path: 'typo3conf/ext/ameos_filemanager/Resources/Public/Css/dropzone/dropzone.css')}
    {v:asset.script(path: 'typo3conf/ext/ameos_filemanager/Resources/Public/JavaScript/dropzone/dropzone.js')}
    <v:asset.script standalone="1">
        (function () {
            new Dropzone(document.querySelector(".uploadarea"), {
                url: <f:format.raw>"{upload_uri}</f:format.raw>",
                init: function() {
                    this.on("success", function (file, response) {
                        var response = eval("(" + response + ")");

                        var additionalLinkNode = document.createElement("div");
                        additionalLinkNode.innerHTML = "<a target=\"_blank\" href=\"" + response.editUri + "\"> \
                                <f:format.raw>{upload_label_edit}</f:format.raw> \
                            </a> \
                            <br> \
                            <a target=\"_blank\" href=\"" + response.infoUri + "\"> \
                                <f:format.raw>{upload_label_detail}</f:format.raw> \
                            </a>";

                        file.previewElement.append(additionalLinkNode);
                    });
                }
            });
        }).call(this);
    </v:asset.script>
</f:if>
