{namespace custom=Ameos\AmeosFilemanager\ViewHelpers}
<f:if condition="{file}">
    <f:then>
    <div class="ameos_file_manager">
        <h1>Information sur le fichier {file.title}</h1>
        <custom:checkAccess file="{file}" right="w" arguments="{folderRoot:settings.startFolder}">
            <f:link.action action="formFile" addQueryString="0" arguments="{newFile: file.uid}" >
                <i class="fa fa-pencil-square-o"></i>
            </f:link.action>
        </custom:checkAccess>
        <br/>
        <f:image src="{file.uid}" alt="{file.title}" width="150" treatIdAsReference="0" />
        <p>
            <f:link.action class="grad-btn" addQueryString="0" action="index" arguments="{folder: file.parentFolder}">
                <f:translate key="back"/>
            </f:link.action>
        </p>
        <p>
            <f:translate key="title"/> : {file.title}<br/>
            <f:translate key="description"/> : {file.description}<br/>
            <f:translate key="keywords"/> : {file.keywords}<br/>
            <f:translate key="category"/> :  
                <f:for each="{file.categories}" as="category" iteration="itemIteration">
                    {category.title} {f:if(condition: itemIteration.isLast, then: '', else: ' - ')}
                </f:for>
                <br/>

            <f:link.action arguments="{file: file.uid}" addQueryString="0">
                <f:translate key="download"/>
            </f:link.action>
        </p>
    </div>
    </f:then>
    <f:else>
        {error}
    </f:else>
</f:if>
