{namespace custom=Ameos\AmeosFilemanager\ViewHelpers}
<div class="ameos_file_manager" id="ameos_file_manager_{content_uid}">
	<f:if condition="{folder}">
		<f:then>
			<h3>{folder.title}</h3>

            <f:render partial="FileManager/Toolbar" arguments="{_all}" />

			<p class="breadcrumb"><custom:breadcrumb folder="{folder}" startFolder="{settings.startFolder}" separator=" / " contentUid="{content_uid}" /></p>

			<table cellpadding="0" cellspacing="0" width="100%" border="1">
				<f:render partial="FileManager/HeaderTable" arguments="{content_uid:content_uid}" />

				<f:if condition="{0:folder.uid} != {0:settings.startFolder}">
					<f:if condition="{folder.parent}">
                        <custom:canDisplayRow folder="{folder.parent}" settings="{settings}" folderRoot="{settings.startFolder}">

                            <f:render partial="FileManager/FolderLine" arguments="{
                                folder:folder.parent,
                                parent:1,
                                returnFolder:folder.uid,
                                content_uid:content_uid
                            }" />
                            
					    </custom:canDisplayRow>
					</f:if>
				</f:if>

                <f:if condition="{is_last_recursion} == 0">
                    <f:for each="{folder.folders}" as="f">                    
                    <custom:canDisplayRow folder="{f}" settings="{settings}" folderRoot="{settings.startFolder}">
                        <f:render partial="FileManager/FolderLine" arguments="{
                            folder:f,
                            returnFolder:folder.uid,
                            content_uid:content_uid
                        }" />
                    </custom:canDisplayRow>
                    </f:for>
                </f:if>

				<f:for each="{files}" as="fi">
                    <custom:canDisplayRow file="{fi}" settings="{settings}" folderRoot="{settings.startFolder}">
                        <f:render partial="FileManager/FileLine" arguments="{fi:fi}" />
                    </custom:canDisplayRow>
				</f:for>
			</table>

			<f:render partial="FileManager/Toolbar" arguments="{_all}" />

		</f:then>
		<f:else>
			<f:translate key="accessDenied"/>
		</f:else>
	</f:if>
</div>
