{namespace custom=Ameos\AmeosFilemanager\ViewHelpers}
<div class="ameos_file_manager" id="ameos_file_manager_{content_uid}">
	<h1><f:translate key="searchResultFor"/> : "{value.keyword}"</h1>
	<table cellpadding="0" cellspacing="0" width="100%" border="1">
		<f:render partial="FileManager/HeaderTable" arguments="{columns:settings.columnsTable}" />
		<f:for each="{files}" as="fi">
            <custom:displayRow file="{fi}" settings="{settings}">
			<custom:checkAccess file="{fi}" right="r" arguments="{folderRoot:settings.startFolder}">
				<f:render partial="FileManager/FileLine" arguments="{fi:fi}" />
		    </custom:checkAccess>
            </custom:displayRow>
		</f:for>
	</table>
</div>
