{namespace custom=Ameos\AmeosFilemanager\ViewHelpers}
<tr>
    <f:for each="{settings.columnsTable}" as="column">
        <f:if condition="{column} == 'icon'">
            <td class="icone">
                <f:link.action additionalAttributes="{data-ged-reload: '1', data-ged-uid: content_uid}" action="index" argumentsToBeExcludedFromQueryString="{0:'id'}" addQueryString="1" arguments="{folder: folder.uid}" >
                    <f:if condition="{parent}">
                        <f:then> <custom:icon type="previous_folder" iconFolder="{settings.iconFolder}"/> </f:then>
                        <f:else> <custom:icon type="folder" iconFolder="{settings.iconFolder}"/> </f:else>
                    </f:if>
                </f:link.action>
            </td>
        </f:if>
        <f:if condition="{column} == 'title'">
            <td>
               <f:link.action additionalAttributes="{data-ged-reload: '1', data-ged-uid: content_uid}" action="index" argumentsToBeExcludedFromQueryString="{0:'id'}" addQueryString="1" arguments="{folder: folder.uid}" >
                    <f:if condition="{parent}">
                        <f:then>..</f:then>
                        <f:else>{folder.title}</f:else>
                    </f:if>
                </f:link.action> 
            </td>
        </f:if>
        <f:if condition="{column} == 'createdAt'">
            <td><f:format.date format="%d/%m/%Y">{folder.crdate}</f:format.date></td>
        </f:if>
        <f:if condition="{column} == 'updatedAt'">
            <td><f:format.date format="%d/%m/%Y">{folder.tstamp}</f:format.date></td>
        </f:if>
        <f:if condition="{column} == 'categories'">
            <td><f:for each="{folder.categories}" as="category" iteration="itemIteration">
                {category.title} {f:if(condition: itemIteration.isLast, then: '', else: ' - ')}
            </f:for></td>
        </f:if>
        <f:if condition="{column} == 'description'">
            <td>{folder.description}</td>
        </f:if>
        <f:if condition="{column} == 'owner'">
           <td>{folder.ownerUsername}</td>
        </f:if>
        <f:if condition="{column} == 'size'">
            <td>{folder.fileNumber} <f:translate key="folderFiles"/></td>
        </f:if>
        <f:if condition="{column} == 'keywords'">
             <td>{folder.keywords}</td>
        </f:if>
        <f:if condition="{column} == 'actions'">
            <td>
                <f:for each="{settings.actionDetail}" as="action">
                    <f:if condition="{action} == 'edit'">
                        <custom:checkAccess folder="{folder}" right="w" arguments="{folderRoot:settings.startFolder}">
                            <f:link.action action="formFolder" argumentsToBeExcludedFromQueryString="{0:'id'}" addQueryString="1" arguments="{newFolder: folder.uid, returnfolder: folder.parent.uid}" >
                                <f:translate key="edit"/>
                            </f:link.action>
                        </custom:checkAccess>
                    </f:if>
                    
                    <f:if condition="{action} == 'delete'">
                        <f:if condition="{folder.isEmpty}">
                            <custom:checkAccess folder="{folder}" right="w" arguments="{folderRoot:settings.startFolder}">
                                <f:link.action onclick="return confirm('Are you sure?')" action="deleteFolder" argumentsToBeExcludedFromQueryString="{0:'id'}" addQueryString="1" arguments="{folder: folder.uid}" >
                                    <f:translate key="delete"/>
                                </f:link.action>
                            </custom:checkAccess>
                        </f:if>
                    </f:if>
                    
                    <f:if condition="{action} == 'massDownload'">
                        <f:link.action action="massDownload" argumentsToBeExcludedFromQueryString="{0:'id'}" addQueryString="1" arguments="{folder: folder.uid, returnfolder: folder.parent.uid}"><f:translate key="massDownload"/></f:link.action>
                    </f:if>
                    
                </f:for>
            </td>
        </f:if>
    </f:for>
</tr>
