{namespace filemanager=Ameos\AmeosFilemanager\ViewHelpers}
<f:flashMessages />
<div class="row">
<f:if condition="{settings.displayTree}">
    <f:then>
        <div class="col-md-4 tree">
            <f:render partial="Explorer/Folders" arguments="{tree: tree, current_folder: current_folder}" />
        </div>
        <div class="col-md-8 files">
            <f:render partial="Explorer/Files" arguments="{_all}" />
        </div>
    </f:then>
    <f:else>
        <div class="col-md-12 files">
            <f:render partial="Explorer/Files" arguments="{_all}" />
        </div>
    </f:else>
</f:if>
</div>
<f:render partial="Explorer/IncludeAssets" arguments="{_all}" />