{namespace filemanager=Ameos\AmeosFilemanager\ViewHelpers}
<h1><f:translate key="infofile" arguments="{0: file.title}" /></h1>
<p class="toolbar">
<f:link.action action="index" controller="Explorer\Explorer" arguments="{folder: file.parentFolder}">
    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>&nbsp;{f:translate(key:"back")}
</f:link.action>
<f:if condition="{file.isRemote}">
    <f:then>
        <f:link.external uri="{file.publicUrl}" target="_blank">
            <i class="fa fa-external-link" aria-hidden="true"></i>&nbsp;{f:translate(key:"seefile")}
        </f:link.external>
    </f:then>
    <f:else>
        <f:link.action action="download" controller="Explorer\File" arguments="{file: file.uid}">
            <i class="fa fa-download" aria-hidden="true"></i>&nbsp;{f:translate(key:"download")}
        </f:link.action>
    </f:else>
</f:if>
<filemanager:access.canWrite file="{file}">
    <f:link.action action="edit" controller="Explorer\File" arguments="{file: file.uid}">
        <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;{f:translate(key:"edit")}
    </f:link.action>
</filemanager:access.canWrite>
</p>

<div class="row">
    <f:if condition="{file.previewAvailable}">
        <div class="col-md-4"><f:media class="img-fluid" file="{file}" alt="{file.title}" /></div>
    </f:if>
    <div class="{f:if(condition: file.previewAvailable, then: 'col-md-8', else: 'col-md-12')}">
        <table class="table table-striped">
            <tr>
                <td>{f:translate(key: "title")}</td>
                <td>{file.title}</td>
            </tr>
            <tr>
                <td>{f:translate(key: "filetype")}</td>
                <td>{file.originalResource.extension}</td>
            </tr>
            <tr>
                <td>{f:translate(key: "owner")}</td>
                <td>{file.ownerUsername}</td>
            </tr>
            <tr>
                <td>{f:translate(key: "createdAt")}</td>
                <td><f:format.date format="%d/%m/%Y">@{file.crdate}</f:format.date></td>
            </tr>
            <tr>
                <td>{f:translate(key: "updatedAt")}</td>
                <td><f:format.date format="%d/%m/%Y">@{file.tstamp}</f:format.date></td>
            </tr>
            <tr>
                <td>{f:translate(key: "size")}</td>
                <td>{filemanager:filesize(size: file.originalResource.size)}</td>
            </tr>
            <tr>
                <td>{f:translate(key: "description")}</td>
                <td>{file.description}</td>
            </tr>
            <tr>
                <td>{f:translate(key: "keywords")}</td>
                <td>{file.keywords}</td>
            </tr>
            <tr>
                <td>{f:translate(key: "category")}</td>
                <td><f:for each="{file.categories}" as="category" iteration="itemIteration">
                {category.title} {f:if(condition: itemIteration.isLast, then: '', else: ' - ')}
                </f:for></td>
            </tr>
            <f:if condition="{file_isimage} && {filemetadata_isloaded}">
            <tr>
                <td>{f:translate(key: "LLL:EXT:filemetadata/Resources/Private/Language/locallang_tca.xlf:sys_file_metadata.color_space")}</td>
                <td>{file.meta.color_space}</td>
            </tr>
            <tr>
                <td>{f:translate(key: "LLL:EXT:filemetadata/Resources/Private/Language/locallang_tca.xlf:sys_file_metadata.width")}</td>
                <td>{file.meta.width}</td>
            </tr>
            <tr>
                <td>{f:translate(key: "LLL:EXT:filemetadata/Resources/Private/Language/locallang_tca.xlf:sys_file_metadata.height")}</td>
                <td>{file.meta.height}</td>
            </tr>
            <tr>
                <td>{f:translate(key: "LLL:EXT:filemetadata/Resources/Private/Language/locallang_tca.xlf:sys_file_metadata.content_creation_date")}</td>
                <td><f:format.date format="%d/%m/%Y">@{file.meta.content_creation_date}</f:format.date></td>
            </tr>
            <tr>
                <td>{f:translate(key: "LLL:EXT:filemetadata/Resources/Private/Language/locallang_tca.xlf:sys_file_metadata.content_modification_date")}</td>
                <td><f:format.date format="%d/%m/%Y">@{file.meta.content_modification_date}</f:format.date></td>
            </tr>
            </f:if>           
        </table>
    </div>
</div>