.tree ul { list-style: none; }
.tree ul ul { display: none; }
.tree ul ul.active { display: block; }
.tree ul li.current { font-weight: bold; }
.tree ul li.current ul li { font-weight: normal; }
.files .item { text-align: center; min-height: 120px; overflow: hidden; }
.files .item .toolbar-file { display: none; }
.files .item:hover .toolbar-file { display: block; }
.files .toolbar { margin-bottom: 20px; }
.files .toolbar .toolbar-item { display: inline-block; text-align: center; min-width: 90px; }
.uploadarea { min-height: 100px; width: 100%; background: #DDD; text-align: center; }
.uploadarea .dz-default.dz-message { display: none; }
