{namespace filemanager=Ameos\AmeosFilemanager\ViewHelpers}
<div class="col-md-2 item">
    <f:link.action action="index" arguments="{folder: folder.uid}">
        <i class="fa fa-2x fa-folder" aria-hidden="true"></i><br>
        <f:if condition="{folderTitle}">
            <f:else>
                <f:variable name="folderTitle" value="{folder.title}" />
            </f:else>
        </f:if>
        {folderTitle}
    </f:link.action>
    <p class="toolbar-file">
        <f:form.checkbox name="selectedfolders[]" value="{folder.uid}" />
        <f:for each="{allowed_actions_folders}" as="action">
            <f:if condition="{action} == 'edit'">
                <filemanager:access.canWrite folder="{folder}">
                    <f:link.action action="edit" controller="Explorer\Folder" arguments="{parentfolder: current_folder.uid, folder: folder.uid}" title="{f:translate(key:'edit')}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </f:link.action>
                </filemanager:access.canWrite>
            </f:if>

            <f:if condition="{action} == 'upload'">
                <filemanager:access.canAddFile folder="{folder}">
                    <f:link.action action="upload" controller="Explorer\File" arguments="{folder: folder.uid}" title="{f:translate(key:'upload')}">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                    </f:link.action>
                </filemanager:access.canAddFile>
            </f:if>

            <f:if condition="{action} == 'addsubfolder'">
                <filemanager:access.canAddFolder folder="{folder}">
                    <f:link.action action="edit" controller="Explorer\Folder" arguments="{folder: 'new', parentfolder: folder.uid}" title="{f:translate(key:'createFolder')}">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </f:link.action>
                </filemanager:access.canAddFolder>
            </f:if>
            
            <f:if condition="{action} == 'download'">
                <filemanager:access.canRead folder="{folder}">
                    <f:link.action action="download" controller="Explorer\Folder" arguments="{folder: folder.uid, returnfolder: folder.uid}" title="{f:translate(key:'download')}">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </f:link.action>
                </filemanager:access.canRead>
            </f:if>
                    
            <f:if condition="{action} == 'detail'">
                <filemanager:access.canRead folder="{folder}">
                    <f:link.action action="info" controller="Explorer\Folder" arguments="{folder: folder.uid, returnfolder: folder.uid}" title="{f:translate(key:'detail')}">
                        <i class="fa fa-info" aria-hidden="true"></i>
                    </f:link.action>
                </filemanager:access.canRead>
            </f:if>

            <f:if condition="{action} == 'delete'">
                <filemanager:access.canWrite folder="{folder}">
                    <f:link.action onclick="return confirm('Are you sure?')" action="remove" controller="Explorer\Folder" arguments="{folder: folder.uid}" title="{f:translate(key:'delete')}">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </f:link.action>
                </filemanager:access.canWrite>
            </f:if>
        </f:for>
    </p>   
</div>
