<div class="row">
    <div class="col-2">
        <f:image src="EXT:ameos_filemanager/Resources/Public/Icons/folder.svg" width="100%" />
    </div>
    <div class="col-10">
        <table class="table table-stripped" aria-describedby="Plugin main configuration">
            <tr>
                <th>Storage</th>
                <td>{storage}</td>
            </tr>
            <tr>
                <th>Folder</th>
                <td>{folder}</td>
            </tr>
        </table>
    </div>
</div>